body {
  max-width: 37.5rem;
  margin: auto;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  width:371px;
  height: 70px;
  border: 2px solid black;
  border-radius: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 70% 1fr;
  align-items: center;
}
.divimg {
  width: 100%;
  height: 50px;
}

.divimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textoRPW {
  text-align: center;
  margin-left: 0.2rem;
  font-size: 20px;
}
.divbotones {
  width:371px;
  height: 70px;
  border-radius: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap: 0.2rem;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btnV {
  background-color: rgb(91, 206, 91);
}

.btnR {
  background-color: #f00;
}

.btnA {
  background-color: rgb(238, 226, 55);
}

.btnV {
  background-color: rgb(91, 206, 91);
}

.semaforo {
  margin: auto;
  margin-top: 1rem;
  width: 100px;
  height: 300px;
  background-color: #333;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.luz {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #555;
}

.luz.rojo { background-color: #f00; }
.luz.amarillo { background-color: #ff0; }
.luz.verde { background-color: #0f0; }

.luz.activo {
  box-shadow: 0 0 20px #f8f8f8, 0 0 40px currentColor;
}

.controls button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}